## SETS

In [22]:
# import image module
from IPython.display import Image

In [3]:
text = 'adfjtwa'
list(text)

['a', 'd', 'f', 'j', 't', 'w', 'a']

In [4]:
set(text)

{'a', 'd', 'f', 'j', 't', 'w'}

In [6]:
#two ways to create sets
set1 = set(['a','b','c','d','e','f','a'])
set2 = {'a','b','c','d','e','f','a'}
set3 = set() # empty set
print(set1, set2, set3)

{'e', 'c', 'f', 'd', 'a', 'b'} {'e', 'c', 'f', 'd', 'a', 'b'} set()

In [17]:
#different data types in sets
set4 = set(['hello', 4.52, '78', 84,'a'])
#check len and membership
len(set4), 84 in set4

(5, True)

In [14]:
#union of two sets
set1 | set4 # requires two sets
set1.union(set4) # will take any iterable, convert to set and the union

{4.52, '78', 84, 'a', 'b', 'c', 'd', 'e', 'f', 'hello'}

### Operations:

#### - Union: returns ALL elements of both sets/objects

In [15]:
set1.union(('baz', 'qux', 'quux','a','b'))

{'a', 'b', 'baz', 'c', 'd', 'e', 'f', 'quux', 'qux'}

#### - Intersection: returns elements common to both objects

In [16]:
#intersection example
set1.intersection(('baz', 'qux', 'quux','a','b'))

{'a', 'b'}

In [18]:
#intersection example
set1 & set4

{'a'}

#### - Difference: difference between sets. Returns elements that are on the first set but not in second set

In [19]:
#difference example. Elements in set1 that are not in set4
set1.difference(set4)

{'b', 'c', 'd', 'e', 'f'}

In [20]:
#difference example. Elements in set1 that are not in set4
set1 - set4

{'b', 'c', 'd', 'e', 'f'}

In [21]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

#with multiple sets, operations are performed from left to right:
a.difference(b, c) # a- b first and the resulting set substract c
# a - b - c

{1, 2, 3}

In [23]:
# Sets difference
Image(url="sets_difference.png", width=300, height=300)

#### - Symmetric difference: get elements in set1 or set2 but not both. Gets unique elements from the two sets.

In [24]:
#symmetric difference
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

#this method does not allow multiple sets
x1.symmetric_difference(x2)

{'bar', 'foo', 'quux', 'qux'}

In [26]:
# ONLY this operator allows symmetric difference with multiple sets and operations is performed from left to right
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

In [27]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

a ^ b ^ c

{5, 10, 100}

#### - Is Disjoint: returns a boolean. Returns True if set1 and set2 have no elements in common. Only method not operator

In [28]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.isdisjoint(x2) # this means that there are some elements in common - baz

False

In [30]:
x2 - {'baz'}
x1.isdisjoint(x2 - {'baz'}) # this means there are no common elements, we substracted baz frrom set x2

True

#### - Is subset. Considers that all elements of x1 are in x2 then True.

In [33]:
x1 = {'foo', 'bar', 'baz'}
print(x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'}))


x2 = {'baz', 'qux', 'quux'}
x1 <= x2

True

False